<%= form_with(model: [:merchant, model], local: true) do |f| %>
  <p><%= f.label :name %></p>
  <%= f.text_field :name %>

  <p><%= f.label :discount %></p>
  <%= f.number_field :discount %>

  <p><%= f.label :threshold %></p>
  <%= f.number_field :threshold %>
  <p> <%= f.submit %> </p>
<% end %>