<h1><%= @discount.name %> bulk discount show page</h1>

<h3>Information</h3>

<ul>
    <li>Threshold: <%= @discount.threshold %></li>
    <li>Discount Percentage: <%= @discount.discount %></li>
</ul>
<p>
<%= link_to("Edit Bulk Discount", edit_merchant_bulk_discount_path(@merchant, @discount))%><br>
<br>
<%= link_to("Back",merchant_bulk_discounts_path(@merchant))%> <br>
</p>