<h1>Admin Invoice Show Page</h1>
<h3>Invoice id: <%= @invoice.id %> </h3>
<h3>Invoice Status: <%= @invoice.status %> </h3>
<h3>Created <%= date_formatter(@invoice.created_at) %> </h3>
<h3>Customer's First Name: <%= @invoice.customer.first_name%> </h3>
<h3>Customer's Last Name: <%= @invoice.customer.last_name %> </h3>

<h1>Invoice Items</h1>
<% @invoice.invoice_items.each do |invoice_item| %>
    
    <ul>
    <div id = "invoice-item-<%=invoice_item.id%>">
        <li>Item: <%=invoice_item.item.name%></li>
        <li>Quantity: <%=invoice_item.quantity%></li>
        <li>Price: <%=number_to_currency(invoice_item.unit_price)%></li>
        <li>Status: <%= invoice_item.status %>
                <%= form_tag("/admin/invoices/#{@invoice.id}/", method: :patch) do %>
                <%= hidden_field_tag("item_id", invoice_item.id) %>
                <%= select_tag(:status, options_for_select(["pending", "packaged", "shipped"], params[:status]), include_blank: "Update Status") %>
                <%= submit_tag("Update") %>
                <% end %>
            <% if invoice_item.bulk_discount_id.nil? == false %>
                <li> Applied Discount: <%=link_to("#{invoice_item.bulk_discount_name} Discount Page", merchant_bulk_discount_path(invoice_item.item.merchant.id, invoice_item.bulk_discount_id))%>  </li>
                <li>Amount Saved: <%= number_to_currency(invoice_item.amount_saved)%></li>
                <% end %>
        </li>
    </ul>

<% end %>
</div>
<h3> Revenue</h3>
<p>Total Revenue Excluding Discounts: <%=number_to_currency(@invoice.total_revenue_excluding_discounts)%></p>
