<%= render 'partials/merchant_navbar'%>
<% flash.each do |type, msg| %>
<div class="alert alert-info">
  <%= msg %>
</div>
<% end %>

<div class="container">
  <div class="row header">
    <div class="col-lg-12 text-center">
      <h1><%=@item.name%></h1>
    </div>
  </div>

    <p> Description: <%= @item.description%>
    </p>
  <p> Current Price: <%= number_to_currency(@item.unit_price)%> </p>
    <p><%= link_to "Update Item", "/merchants/#{@item.merchant.id}/merchant_items/#{@item.id}/edit"%> </p>